@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.bn5 {
    padding: 0.6em 2em;
    border: 1px groove white;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    height: fit-content;
    
    margin: 5px
  }
  
  .bn5:hover:before {
    content: "";
    background: linear-gradient(
      to right,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #7a00ff,
      #002bff,
      #00ffd5,
      #48ff00,
      #ff7300,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    border-radius: 10px;
    border: none
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 2px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
  }
  
  .bn37 {
    border-color: transparent;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

  .card-guild {
    padding: 0.6em 2em;
    border: 1px groove white;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 5px 5px 10px #242526;
    margin: 5px
  }
  .dropdown-guild {
    padding: 0.6em 2em;
    border: 1px groove white;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    height: fit-content;
    margin: 3px
  }
  .output {
    all: unset;
    white-space: pre-wrap;
    font-family: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: left !important;
    color: black;
}
.output-wrapper {
    display: inline-block;
    background-color: lightgrey;
    background-size: cover;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
 .openInstructions {
     padding: 5px;
     border: 3px groove black;
     height: fit-content;
     width: fit-content;
     text-align: center;
 }
 instBtnWrapper {
    text-align: center;
    display: flex;
     justify-content: center;
 }
 .testCard {
	 background-color: #242526;
	 height: auto;
	 width: calc(50% - 1px);
	 border: 2px solid red;
 }
 .btn-main {
	padding: 3px;
	color: white;
	background-color: #616161;
	border: 2px solid #dc3d4b;
    margin: 5px
 }

 @font-face {
	 font-family: Valorant;
	 src: url(valorant.ttf);
 }
 #title {
	 font-family: "Valorant";
	 color: #dc3d4b
 }
.disabledBox {
    opacity: 0.6;
    color: #616161
}

