/*.darkBtn {
    background-color: #242526;
    border: 1px outset white;
    color: white; 
  }
  .darkBtn:hover {
    background-color: #3D3E3F;
    border: 2px outset white;
    color: white; 
  }
  .lightBtn {
    background-color: white;
    border: 1px outset black;
    color: black; 
  }
  .lightBtn:hover {
    background-color: #d3d3d3;
    border: 2px outset black;
    color: black; 
  } */
/*page switcher*/
  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  /*download zip*/
  .bn632-hover.bn24 {
    background-image: linear-gradient(
        to right,
        #23d5ab,
        #23a6d5,
        #e73c7e,
        #ee7752
      );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: 1px outset black;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  /*socials*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: blue;
  }

  .wrapper:visited {
    text-decoration: none;
    color: blue;
  }

  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
    text-decoration: none;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }

  .wrapper .twitch:hover,
  .wrapper .twitch:hover .tooltip,
  .wrapper .twitch:hover .tooltip::before {
    background: #9146ff;
    color: #ffffff;
  }

  .wrapper .discord:hover,
  .wrapper .discord:hover .tooltip,
  .wrapper .discord:hover .tooltip::before {
    background: #5865F2;
    color: #ffffff;
  }

  .wrapper .steam:hover,
  .wrapper .steam:hover .tooltip,
  .wrapper .steam:hover .tooltip::before {
    background: #2a475e;
    color: #ffffff;
  }
  .wrapper .mushroomgg:hover,
  .wrapper .mushroomgg:hover .tooltip,
  .wrapper .mushroomgg:hover .tooltip::before {
    background: #f71953;
    color: #ffffff;
  }

  /*dark/light*/
  .bn6 {
    cursor: pointer;
    outline: none;
    border: 1px outset white;;
    background-color: #232423;
    padding: 0.3em 1.2em;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 550;
    color: #ffffff;
    background-size: 100% 100%;
    box-shadow: 0 0 0 4px #232423 inset;
    
  }
  
  .bn6:hover {
    background-image: linear-gradient(
      55deg,
      transparent 10%,
      #161616 10% 20%,
      transparent 20% 30%,
      #161616 30% 40%,
      transparent 40% 50%,
      #161616 50% 60%,
      transparent 60% 70%,
      #161616 70% 80%,
      transparent 80% 90%,
      #161616 90% 100%
    );
    animation: 3s linear infinite;
  }

  /*page settings open*/
  .bn59 {
    background-color: white;
    border: 1px solid rgba(54, 54, 54, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 45px;
    opacity: 1;
    color: black;
    border: 0px;
    font-size: 25px;
  }

  /*Projects Dropdown*/
  .dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  .dropbtn:hover {
    background-color: #23a6d5;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown p {
    margin: 0 5px 0 0;
  }
  
  .dropdown-content a:hover {background-color: #dddddd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #23a6d5;
  }
  .dropdown:hover #caret {
    transform:rotate(90deg)
  }
  .navbn {
    background-color: transparent;
    color: black;
    padding: 7px;
    margin: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center
  }
